<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/list">Blogs</a></li>
    <li class="breadcrumb-item">edit</li>
</ol>
<h1 class="display-4">Edit Blogs</h1>
<form method="POST" action="/update/<%= blog.id %>">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" class="form-control" value="<%=blog.title%>">
    </div>
    <div class="form-group">
        <label for="body">Body</label>
        <textarea type="text" name="body" class="form-control" >
        <%=blog.body%></textarea>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>