<h1 class="display-4">Blogs</h1>
<table class="table stripped">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% blogs.forEach(function (blog) { %>

            <tr>
                <td><%= blog.id %></td>
                <td><%= blog.title %></td>
                <td>
                    <a href="/edit/<%= blog.id %>" class="btn btn-primary">Edit</a>
                    <form class="d-inline" action="/delete/<%= blog.id %>"  >
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
            <%})%>
    </tbody>
</table>